@import "typeplate.scss";
/* base.scss */
body {
  background: url("/img/noise2.png") repeat, #FFFFFF -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEEEEE), color-stop(1, #FFFFFF)) repeat-x;
  background: url("/img/noise2.png") repeat, #FFFFFF -webkit-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%) repeat-x;
  background: url("/img/noise2.png") repeat, #FFFFFF -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%) repeat-x;
  background: url("/img/noise2.png") repeat, #FFFFFF -o-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%) repeat-x;
  background: url("/img/noise2.png") repeat, #FFFFFF -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%) repeat-x;
}

.menu {
	ul {
		list-style-type: none;
		a {
			@extend .gamma; @extend %hN;
		}
		a:hover {
			text-decoration:underline;
		}
	}
}
.submenu {
	ul {
		list-style-type: square;
		a {
			@extend .delta; @extend %hN;
		}
		a:hover {
			text-decoration:underline;
		}
	}
}

code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #EAEAEA;
	background-color: #F8F8F8;
	border-radius: 3px;
}
pre code {
	margin: 0;
	padding: 0px;
	border: none;
	background-color: transparent;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	-webkit-tab-size: 2;
	-ms-tab-size: 2;
}
